<!-- red modal help window -->
<div id="modal-h" class="modal fade hide rascal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Red Help</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="modal-subheading">File list</div>
                <dl class="keyboard-mappings">
                    <dt class="inverse">click</dt>
                    <dd>Load file into editor</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="inverse">click
                        <em>+</em> <img src="/editor/static/images/file-icons/delete.png"/>
                    </dt>
                    <dd>Delete file or folder</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="info">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> click</dt>
                    <dd>Open in new tab</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="info">
                        <span class="platform-mac">shift</span>
                        <span class="platform-other">shift</span>
                        <em>+</em>
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> click</dt>
                    <dd>Display in new tab</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="info">
                        <span class="platform-mac">shift</span>
                        <span class="platform-other">shift</span>
                        <em>+</em> click</dt>
                    <dd>Display in new window</dd>
                </dl>
                <hr>
                <div class="modal-subheading">Tabs</div>
                <dl class="keyboard-mappings">
                    <dt class="inverse">click</dt>
                    <dd>Make active</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="inverse">click
                        <em>+</em> <img src="/editor/static/images/file-icons/delete.png"/>
                    </dt>
                    <dd>Close tab</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="info">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em>
                        <span class="platform-mac">click</span>
                        <span class="platform-other">click</span>
                        <em>+</em> <img src="/editor/static/images/file-icons/delete.png"/>
                    </dt>
                    <dd>Close all but this tab</dd>
                </dl>
            </div>
            <div class="span6">
                <div class="modal-subheading">Editor</div>
                <dl class="keyboard-mappings">
                    <dt class="inverse">tab</dt>
                    <dd>Insert tab or indent selection</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="inverse">
                        <span class="platform-mac">shift</span>
                        <span class="platform-other">shift</span>
                        <em>+</em> tab</dt>
                    <dd>Revert to default indent</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="inverse">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> Z</dt>
                    <dd>Undo</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="inverse">
                        <span class="platform-mac">shift</span>
                        <span class="platform-other">shift</span>
                        <em>+</em>
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> Z</dt>
                    <dd>Redo</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="primary">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> ]</dt>
                    <dd>Indent more</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="primary">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> [</dt>
                    <dd>Indent less</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="success">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> F</dt>
                    <dd>Find</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="success">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> G</dt>
                    <dd>Find next</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="success">
                        <span class="platform-mac">shift</span>
                        <span class="platform-other">shift</span>
                        <em>+</em>
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> G</dt>
                    <dd>Find previous</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="success">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">shift</span>
                        <em>+</em>
                        <span class="platform-mac">alt</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> F</dt>
                    <dd>Replace</dd>
                </dl>
                 <dl class="keyboard-mappings">
                    <dt class="warning">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> /</dt>
                    <dd>Toggle comment</dd>
                </dl>
                <dl class="keyboard-mappings">
                    <dt class="danger">
                        <span class="platform-mac">⌘</span>
                        <span class="platform-other">ctrl</span>
                        <em>+</em> S</dt>
                    <dd>Save</dd>
                </dl>
           </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="float: left;";>
            <a href="static/about/cm-keyboard.html" name="keyboard shortcuts" title="keyboard shortcuts" target="_red">More help</a> |
            <a href="static/codemirror/index.html" name="CodeMirror" title="CodeMirror" target="_codemirror">CodeMirror</a> |
            <a href="http://jquery.com/" name="jQuery" title="jQuery" target="_jquery">jQuery</a> |
            <a href="static/bootstrap/docs/index.html" name="bootstrap" title="bootstrap" target="_bootstrap">Bootstrap</a>
        </div>
        <a id="help-close" href="#" class="btn">Close</a>
    </div>
</div>
