/* These styles are specific to the editor page */

/* buttons and progress-bars */
.buttons {
    padding: 4px 0;
}

.progress-bars {
    clear: both;
}

#save {
    float: left;
    width: 120px;
}

.progress-save {
    float: left;
    margin-top: 5px;
    width: 120px;
}

#reload {
    float: right;
    width: 160px;
}

.progress-reload {
    float: right;
    margin-top: 5px;
    width: 160px;
}

.progress.rascal {
    height: 10px;
    margin-bottom: 6px;
}

/* http://stackoverflow.com/questions/9622043/turn-off-bootstraps-css3-transitions-on-progress-bars */
.progress.rascal .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#save-message {
    visibility: hidden;
    display: inline;
    margin-left: 5px;
}

#save-message.warning {
    color: red;
}

/* tabs */
#editortabs {
    position: absolute;
    bottom: 0;
    margin-right: 160px;
}

#editortabs a.changed {
    color: #ef4a42;
}

/* customise bootstrap tabs */
.nav-tabs {
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 6px;
}

.nav-tabs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 28px;
    color: #e7e8e9;
    background-color: #777;
    border-color: #666 #666 #666;
}

.nav-tabs > li > a {
    background-color: #777;
    border-color: #666 #666 #666;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #666;
    border-color: #666 #666 #666;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a.selected,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #e7e8e9;
    background-color: #444;
    border-color: #444;
}

/* filetab close icon */
.nav-tabs > li > img {
    float: right;
    margin-right: 8px;
    margin-top: 9px;
    padding: 2px;
    width: 11px;
    opacity: 0.0;
}

.nav-tabs > li > img.selected {
    opacity: 0.6;
}

.nav-tabs > li > img.selected:hover {
    opacity: 1.0;
}

/* sidebar (see also jquery.filetree.css) */
.well.rascal {
    padding: 3px;
    margin-bottom: 5px;
    border: 6px solid #444;
}

.row [class*="span"] {
/*
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
 */
  margin-left: 1.127659574%;
  *margin-left: 1.0744680846382977%;
}

.row .col-md-9 {
/*
  width: 74.468085099%;
  *width: 74.4148936096383%;
 */
  width: 75.468085099%;
  *width: 75.4148936096383%;
}

/* filetree */
#filetree {
    padding: 0 10px 0 0;
    /* border provided by theme style */
    height: 412px;
    overflow: auto;
}

#filetree.dragover {
    border: 1px solid #8284B6;
    box-shadow: 0 0 12px #6666DD;
}

a[draggable=true] {
    -moz-user-select:none;
    -khtml-user-drag: element;
    cursor: move;
}

/* icon bar */
.red-icon {
    opacity: 0.8;
}

.red-icon:hover {
    opacity: 1.0;
    /* background-color: white; */
}

#preferences, #help {
    float: right;
}

/* editor */

/* container for CodeMirror and picture frame */
#textfield {
    position: relative;
    padding: 0;
    color: #000;
}

.frame {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: #828282;
    border: 6px solid red; /* #444; */
    border-radius: 4px;
    -moz-box-shadow: 0 0 22px #111;
    -webkit-box-shadow: 0 0 22px #111;
    box-shadow: 0 0 22px #111;
    z-index: 1000;
}

.caption {
    padding: 4px 8px;
    color: #e7e8e9;
}

/* modal dialogues */
.modal.rascal {
    color: #333;
}

.modal.rascal p.warning {
    color: red;
}

.form-horizontal .control-group.rascal {
    margin-bottom: 9px;
}

.help-inline.rascal {
    font-size: 13px;
}
