<!DOCTYPE html>
<!-- Editor view ifconfig and config -->
<!-- JSLint 8 Oct 2012 -->
<html lang="en">
<head>
    <title>Config</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="static/css/editor.css">
    {% include "include/editor-scripts.html" %}
</head>
<body>
    {% include "include/editor-topbar.html" %}

    <div class="container">
        &nbsp;<br />
        <p>Some useful configuration info:</p>

        <pre style="background-color: #F5F5F5;">
{{ processes }}
        </pre>
        <hr />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>A weapon of mass destruction:</p>
                <form>
                    <input id="reset" type="button" value="Destroy all my work" class="btn btn-large btn-danger rascal" alt="Destroy all my work" />
                </form>
                <p>If you click the "Destroy all my work" button, all the changes you've made to your Rascal's web interface will be deleted.</p>
                <p>(What this really does is to return the Git repository in /var/www to its last committed state.)</p>
            </div> <!-- /span6 -->
            <div class="col-md-6">
                This column intentionally left blank.
            </div> <!-- /span6 -->
        </div> <!-- /row -->
    </div> <!-- /container-fluid -->
</body>
</html>
